!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %meta{'charset'=>"utf-8"}
    %meta{'http-equiv'=>"X-UA-Compatible", :content=>"IE=edge"}
    %meta{'name'=>"viewport", :content=>"width=device-width, initial-scale=1"}
    %title Nano Lazar Toxicity Predictions
    %link{:rel=>'icon', :type=>'image/x-icon', :href=>'/images/favicon.ico'}
    %link{:rel=>'stylesheet', :href=>"#{'/css/style.css'}"}
    %link{:rel=>'stylesheet', :href=>"#{'/css/bootstrap.min.css'}"}
    %link{:rel=>'stylesheet', :href=>"#{'/css/theme.bootstrap.min.css'}"}
    %link{:rel=>'stylesheet', :href=>"#{'/css/theme.default.min.css'}"}
    %script{:src=>"/javascripts/jquery-1.11.2.min.js"}
    %script{:src=>"/javascripts/jquery.tablesorter.min.js"}
    %script{:src=>"/javascripts/jquery.tablesorter.widgets.js"}
    %script{:src=>"/javascripts/jquery.tablesorter.staticrow.min.js"}
    %script{:src=>"/javascripts/jquery.doubleScroll.js"}
    %script{:src=>"/javascripts/bootstrap.min.js"}
    %script{:src=>"/javascripts/nanolazar.js"}
    %script{:src=>"/javascripts/google_analytics.js"}
  %body
    %noscript
      %div{ :style=>"width: 22em; position: absolute; left: 50%; margin-left: -11em; color: red; background-color: white; border: 1px solid red; padding: 4px; font-family: sans-serif"}
      Your web browser must have JavaScript enabled in order for this application to display correctly.
    %header.page-header{:style=>"margin:20px 0 20px;"}
      %div.row{:style=>"display:flex;flex-direction:row;align-items:center;justify-content:center"}
        %div.col-sm-2
          %a{:href=> to("/predict")}
            %img.media-object{:src=>"/images/IST_logo_s.png", :alt=>"logo_ist", :width=>"150px", :heigth=>"150px", :style=>"margin:0 0 0 1em;"}
        %div.col-sm-2
          %a{:href=> "http://www.enanomapper.net"}
            %img.media-object{:src=>"/images/enm_logo.png", :width=>"150px", :heigth=>"150px", :alt=>"logo_enm", :style=>"margin:0 0 0 1em;"}
        %div.col-sm-6
          %h1.media-heading{:style=>"margin:0 0 0 1em;"} nano-lazar toxicity predictions
        %div.col-sm-2
          %h1.media-heading{:style=>"margin:0 0 0 1em;"}
            %small
              %a{:href=>"https://lazar.in-silico.ch/predict", :rel=>"external"} lazar

    %div.container-fluid
      %topline
        %div.row
          %div.col-md-8
            Problems, bugs, ideas for improvements ? Please report at our
            %a{:href => 'https://github.com/enanomapper/nano-lazar/issues', :rel => "external"} issue tracker
            or send us an email
            %a{ :href=>"mailto:info@in-silico.ch?subject=[lazar v#{@version}]", :target=>"_top"}
              %img.share{:src=>"/images/Email.png"}
            (version #{@version}).
          %div.col-md-2
          %div.col-md-2
            %a{:href=>"https://twitter.com/intent/tweet?source=http%3A%2F%2Flazar.in-silico.ch&text=:%20http%3A%2F%2Flazar.in-silico.ch", :target=>"_blank", :title=>"Tweet"}
              %img.share{:src=>"/images/Twitter.png"}
            %a{:href=>"https://plus.google.com/share?url=http%3A%2F%2Flazar.in-silico.ch", :target=>"_blank", :title=>"Share on Google+"}
              %img.share{:src=>"/images/Google+.png"}
            %a{:href=>"http://www.linkedin.com/shareArticle?mini=true&url=http%3A%2F%2Flazar.in-silico.ch&title=&summary=&source=http%3A%2F%2Flazar.in-silico.ch", :target=>"_blank", :title=>"Share on LinkedIn"}
              %img.share{:src=>"/images/LinkedIn.png"}
            %a{:href=>"https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Flazar.in-silico.ch&title=&summary=&source=http%3A%2F%2Flazar.in-silico.ch", :target=>"_blank", :title=>"Share on Facebook"}
              %img.share{:src=>"/images/Facebook.png"}
      :javascript
        $(document).ready(function(){
          $("#back-top").hide();
        });
          
      = yield
    
    %footer.footer
      %div.container-fluid
        %p.text-muted
          &copy; 
          %a{:href => 'http://www.in-silico.ch', :rel => "external"} <i style="font-family: serife">in silico</i> toxicology gmbh 2014 - #{Time.now.year.to_s}
          |
          %a{:href => to("/license"), :rel => "external"} GPL3 License

    #back-top{:style => "z-index:100;position:fixed;bottom:1%;right:1%;"}
      %a{:href => "", :style=>"text:decoration:none;color:#ccc;"}
        %span.glyphicon.glyphicon-circle-arrow-up{:style => "font-size:3em;color:black;"}
    :javascript
      $("#back-top").hide();
      $(function () {
        $(window).scroll(function () {
          if ($(this).scrollTop() > 600) {
            $('#back-top').fadeIn();
          } else {
            $('#back-top').fadeOut();
          }
        });
        // scroll body to 0px on click
        $('#back-top a').click(function () {
          $('body,html').animate({
            scrollTop: 0
          }, 500);
          return false;
        });
      });
